<?php

$font      = "fanwood_text.woff"; // Set an alternative font
$lang      = "";                  // Override interface language
$watchword = "";                  // Protect contents with a watchword
$wordsPMin = 250;                 // Set the reading speed in words per minute

?>